body{
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    background-image: -webkit-image-set(https://images.hdqwalls.com/download/jett-valorant-game-art-4k-oi-2560x1600.jpg);
}