body{
    background-color: aquamarine;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:black;
 }

 p{
    color:darkslategray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#result{
    width:400px ;
    height: 80px;
    border: 1px solid gold;

}
#result:empty {
    display: none;
}