body{
    background-color: rgb(146, 6, 6);
    background-image: url('https://images.hdqwalls.com/download/jett-valorant-game-art-4k-oi-2560x1600.jpg');
    background-position: top;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:black;
 }

 p{
    color:darkslategray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#result{
    width:500px ;
    height: 20px;
    border: 5px solid gold;
    

}
#result:empty {
    display: none;
}